section{
    margin-top: 1%;
}

.livros{
    width: 70%;
    margin-left: 20%;
    margin-bottom: 30%;
}
.btn{
    margin-left: 40%;
    margin-right: 30%;
    width: 30%;
}

.tamanho{
    width: 100%;
}

.nossas_fotos{
    margin-left: 15%;
}

.btn{
    margin-left: 27%;
    width: 40%;
}

.banner_apoio{
    width: 70%;
    margin-left: 15%;
}